# Игнорирование настроек IDE
.idea/

# Игнорирование системных файлов
.DS_Store
Thumbs.db

# Игнорирование node_modules
node_modules/

# Игнорирование временных файлов
*.log
*.tmp

# Игнорирование phcode
.phcode.json